<!DOCTYPE html>
<html>
<head>
  <title>Tafatafa</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-fixed-top navbar-inverse">
		<div class="navbar-inner">
			<div class="container">
				<a href="#" class="brand">tafatafa</a>
				<ul class="nav">
					<li><%= link_to "View All Statuses", statuses_path %></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container">
		<%= yield %>		
	</div>
	<div class="navbar navbar-fixed-bottom navbar-inverse">
		<div class="navbar-inner">
			<div class="container">
				<p class="brand">tafatafa is developed by <strong>Aina Tahiry</strong></p>
			</div>
		</div>
	</div>

</body>
</html>
